extends ../layouts/common
block script
block content 
    .container
      .row
        .col-md-6.mx-auto
          h3 Checkout
          h4 Bill total: #{total} $
          .alert.alert-danger.hidden#charge-error
          #card-errors(role='alert')
          form(action='/cart/checkout', method='POST', id='checkout-form').text-left
            label(for="card-element") Card
            div(id='card-element', width='100px')
            //- .form-group
            //-   label(for='firstname')   Name 
            //-   input(type='text',id="name" name="name", required='').form-control
            //- .form-group
            //-   label(for='address')  Address 
            //-   input(type='text',id="address",name='address', required='').form-control
            //- .form-group
            //-   label(for='card-name') Card holder Name
            //-   input(type='text',id="card-name",name='card-name', required='').form-control
            //- .form-group
            //-   label(for='card-number') Credit Card number
            //-   input(type='text',id="card-number", required='' pattern='[0-9]*',).form-control
            //- .form-group
            //-   label(for='card-exp-month')  Expiration Month
            //-   input(type='text',id="card-exp-month", pattern='[0-9]*', required='').form-control
            //- .form-group
            //-   label(for='card-exp-year') Expiration Year 
            //-   input(type='text',id="card-exp-year", required='', pattern='[0-9]*',).form-control
            //- .form-group
            //-   label(for='card-cvc') CVC
            //-   input(type='text',id="card-cvc", required='' ,pattern='[0-9]*',).form-control
            button.btn.btn-success Buy Now  
