extends ../layouts/common
block content 
    .container
      .row
        .col-md-6.mx-auto
          h3 Checkout
          h4 Bill total: #{total} $
          //.hidden.error.alert.alert-danger.hidden#card-errors
          #card-errors(role='alert')
          form(action='/cart/checkout', method='POST', id='checkout-form').text-left
            label(for="card-element") Card
            div(id='card-element', width='100px')
            .form-group
              label(for='name')   Name 
              input(type='text',id="name" name="name", required='').form-control
            .form-group
              label(for='address')  Address 
              input(type='text',id="address",name='address', required='').form-control
            .form-group
              label(for='email') Email
              input(type='text',id="email",name='email', required='').form-control
            .form-group
              label(for='phone') Phone
              input(type='text',id="phone",name='phone', required='' pattern='[0-9]*',).form-control
            button.btn.btn-success Buy Now
    script(src="https://js.stripe.com/v3/")
    script(src="/js/checkout.js")